html,body{
    margin: 0px;
  background-color: green;
}
.blackjack__titulo{
    color: ivory;
    background-color: black;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.blackjack__carta{
width: 150px;
position: relative;
left: 100px;
margin-left: -75px;
}


#computadora-cartas, #jugador-cartas{
   height: 240px; 
}
